@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.adminPage .search{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    flex-wrap: wrap;
}

.adminPage .title{
    color: #2c3e50;
    font-size: 60px;
    font-family: 'Great Vibes', Arial, sans-serif;
    padding-left: 20px;
    text-align: start;
}

.adminPage .search input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.adminPage .product{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.adminPage .mainInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminPage .orderDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.adminPage .gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.adminPage .gridHeader {
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 5px;
}

.adminPage .gridRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.adminPage .gridRow div {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.adminPage .mainInfo div{
    display: flex;
    gap: 10px;
}

.adminPage .listResult{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.adminPage .btnAdd{
    background-color: rgb(68, 189, 68);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.adminPage .btnEdit{
    background-color: rgb(114, 114, 251);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.adminPage .btnRemove{
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.adminPage .btnDefault{
    background-color: rgb(114, 114, 251);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.adminPage .btnDefault:hover{
    background-color: rgb(60, 60, 182);
}