.itemCountContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quantityButton {
    margin: 0 10px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.quantityButton:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.quantity {
    width: 40px;
    text-align: center;
}

.addToCartButton {
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    font-size: 20px;
    width: 20%;
    margin-block: 20px;
}

.addToCartButton:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .itemCountContainer {
        flex-direction: column;
    }

    .addToCartButton {
        width: 50%;
    }
}