@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.background {
    background-image: url(../components/Assets/mesaCocinaLogin.avif);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background: transparent;
    padding: 3rem 2rem;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 380px;
    width: 90%;
    text-align: center;
    backdrop-filter: blur(8px);
}

.login-container .title {
    margin-bottom: 1.5rem;
    color: #fff;
    font-size: 3rem;
}

/* Estilo de los grupos de entrada */
.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-group input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #f7f7f7;
    font-size: 1rem;
    transition: all 0.3s ease;
    color: #fff;
}

.input-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -8px;
    left: 10px;
    font-size: 0.75rem;
    color: #4CAF50;
}

.input-group input::placeholder {
    color: #fff;
    font-style: italic;
    opacity: 1;
}


.enter {
    width: 100%;
    padding: 1rem;
    border-radius: 6px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.enter:hover {
    background-color: #45a049;
}

.enter:active {
    background-color: #3e8e41;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.continue{
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}
.continue:hover{
    text-decoration: underline;
}

.extra{ 
    text-align: center;
    font-size: 14.5px;
    margin: 20px 0 1px;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.extra p, .register-link{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.extra p .register-link:hover{
    text-decoration: underline;
}